@import url(<link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">);
@import url(<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">);

*{
    background-color: var(--color-two);
    margin: 0;
    padding: 0;
}
body {
    font-family: Outfit, sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: 1440px;
}
h1, h2 {
    font-family: Young-Serif, sans-sefir;
}
:root {
   --color-one: hsl(0, 0%, 100%);
   --color-two: hsl(30, 54%, 90%);
   --color-three: hsl(30, 18%, 87%);
   --color-four: hsl(30, 10%, 34%);
   --color-five: hsl(24, 5%, 18%);
   --color-six: hsl(14, 45%, 36%);
   --color-seven: hsl(332, 51%, 32%);
   --color-eight: hsl(330, 100%, 98%);
}
.recipe {
    background-color: var(--color-one);
}